@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 99 58% 98%;
    --foreground: 99 67% 2%;
    --muted: 69 8% 85%;
    --muted-foreground: 69 7% 30%;
    --popover: 99 58% 98%;
    --popover-foreground: 99 67% 2%;
    --card: 99 58% 98%;
    --card-foreground: 99 67% 2%;
    --border: 99 2% 92%;
    --input: 99 2% 92%;
    --primary: 99 29% 53%;
    --primary-foreground: 0 0% 0%;
    --secondary: 69 29% 53%;
    --secondary-foreground: 0 0% 0%;
    --accent: 129 29% 53%;
    --accent-foreground: 0 0% 0%;
    --destructive: 2 85% 40%;
    --destructive-foreground: 2 98% 85%;
    --ring: 99 29% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 99 42% 2%;
    --foreground: 99 17% 100%;
    --muted: 69 8% 15%;
    --muted-foreground: 69 7% 70%;
    --popover: 99 42% 2%;
    --popover-foreground: 99 17% 100%;
    --card: 99 42% 2%;
    --card-foreground: 99 17% 100%;
    --border: 99 2% 14%;
    --input: 99 2% 14%;
    --primary: 99 29% 53%;
    --primary-foreground: 0 0% 0%;
    --secondary: 69 29% 53%;
    --secondary-foreground: 0 0% 0%;
    --accent: 129 29% 53%;
    --accent-foreground: 0 0% 0%;
    --destructive: 2 98% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 99 29% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.input-placeholder-hidden::placeholder {
  opacity: 0;
}